<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Thoughts Thread</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body style="background-color: #116466;height: 100vh;">
    <header>
      <nav
        class="navbar navbar-expand-lg d-flex"
        style="background-color: #2c3531;"
      >
        <div class="container-fluid">

          <img
            src="/images/history-huddle-high-resolution-logo-transparent.png"
            alt="History Huddle"
            href="/"
            class=""
            style="height:6em;"
          />

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        {{!-- ADD POST BUTTON --}}
          {{#if loggedIn}}
            <div class="container-fluid d-flex justify-content-center">
              <button
                type="button"
                class="btn"
                style="background-color: #fccd04;"
                data-bs-toggle="modal"
                data-bs-target="#add-post"
              >Add post</button>
            </div>
          {{else}}
            <div class="container-fluid d-flex justify-content-center">
              <button
                type="button"
                class="btn"
                style="background-color: #fccd04;"
              >
                <a class="nav-link" href="/login">Login to add post</a>
              </button>
            </div>
          {{/if}}
          {{!-- NEW POST FORM --}}
          <div
            class="modal fade"
            id="add-post"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="add-postLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="add-postLabel">New Post</h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form class="new-post-form">
                    <div class="mb-3">
            <label for="post-title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="post-title">
          </div>
          <div class="mb-3">
            <label for="post-content" class="col-form-label">Content:</label>
            <textarea class="form-control" id="post-content"></textarea>
          </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >Close</button>
                  <button
                    type="button"
                    class="btn"
                    id="submit-post-btn"
                    style="background-color: #fccd04;"
                  >Submit</button>
                </div>
              </div>
            </div>
          </div>

          <div
            class="collapse navbar-collapse d-flex justify-content-end"
            id="navbarNav">
            <ul class="navbar-nav" style="color: #fccd04;">              
                {{!-- NAVBAR LINKS --}}
              {{#if loggedIn}}
              <li class="nav-item">
                <a class="nav-link navlink" href="/">Home</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link navlink" href="/user">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navlink" id="logout" href="/">Logout</a>
                </li>
              {{else}}
              <li class="nav-item">
                <a class="nav-link navlink" href="/">Home</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link navlink" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navlink" href="/signup">Signup</a>
                </li>
              {{/if}}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>

      {{{body}}}

    </main>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/createpost.js"></script>
    <script src="/js/createcomment.js"></script>
    <script src="/js/createreply.js"></script>
    <script src=""></script>
  {{/if}}
</html>