<section
  class="card col-sm-7 col-md-7 col-lg-5 col-xl-3 mx-auto my-5"
  style="border: 4px solid #d9b08c; border-radius: 15px; background-color: #d1e8e2;"
>
  <div class="card-header" style="background-color: #d9b08c;">
    <h2 class="card-title p-1 m-2">Login</h2>
  </div>
  <form class="card-body form login-form mt-3 d-flex flex-column">
    
    <div class="form-group mb-3 d-flex justify-content-center">
      <label for="email-login">Email:</label>
      <input
        class="form-input mx-2"
        type="text"
        id="email-login"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group mb-3 d-flex justify-content-center">
      <label for="password-login">Password:</label>
      <input
        class="form-input mx-2"
        type="password"
        id="password-login"
        placeholder="Enter password"
      />
    </div>
    <div
      class="card-footer form-group mt-3 d-flex justify-content-center"
      style="background-color: #d1e8e2;"
    >
      <button
        class="btn mt-3"
        style="background-color: #ffcb9a;"
        type="submit"
      >Login</button>
    </div>
  </form>
</section> 

<script src="/js/login.js"></script>